*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    flex-direction:column;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}
header{
    padding: 2rem;
    background-color: #1e83bdfa;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#fff;
}
header button{
    background-color: #2797d8fa;
    color:#fff;
    border:none;
    padding:6px;
    border-radius:4px;
}
header button:hover{
    cursor:pointer;
    background-color: #08a0f8fa;
}

@media (max-width: 600px) {
    header{
        flex-direction:column;
        gap:1rem;
    }
    header p{
        text-align:center;
    }
    header button{
        width:100%;
    }
}
@media (max-width: 400px) {
    header{
        padding:1rem;
    }
    header button{
        padding:4px;
    }
}
@media (max-width: 300px) {
    header{
        padding:0.5rem;
    }
    header button{
        padding:2px;
    }
}